@model List<MiniPinterest.Web.Models.Domain.Board>

@{
    ViewData["Title"] = "My Boards";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>My Boards</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <div class="board-grid">
            @foreach (var board in Model)
            {
                <div class="board-box" data-url="@Url.Action("Index", "BoardDetails", new { id = board.Id })">

                    <div class="board-name" style="font-weight: bold">@board.Name</div>
                    <div class="board-public" style="">@((board.IsPublic ? "Public" : "Private"))</div>
                    <div class="board-description">@board.Description</div>
                    <div class="board-created">@board.CreatedAt.ToString("dd/MM/yyyy")</div>
                    <div class="board-edit">
                        <a asp-area="" asp-controller="Boards" asp-action="Edit" asp-route-id="@board.Id">
                            Edit
                        </a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>
            No boards created yet!
        </p>
    }
</div>

<script src="~/js/boardBoxEventListener.js"></script>

