@using MiniPinterest.Web.Models.Domain;
@model MiniPinterest.Web.Models.Domain.Board

@{
    if (Model != null) ViewData["Title"] = Model.Name;
}

<div class="container py-5">
    <div class="row row-cols-5 m-1">
        @if (Model != null)
        {
            @if(Model.Pins.Any()) {
                @foreach (var pin in Model.Pins)
                {
                    <div class="col">
                        <a asp-area=""
                            asp-controller="PinDetails"
                            asp-action="Index"
                            asp-route-urlHandle="@pin.Id">
                            <img src="@pin.ImageUrl" alt="@pin.Title" class="img-fluid rounded-corners" />
                        </a>
                        <div class="text-center">
                            @pin.Title
                            <form asp-controller="BoardDetails" asp-action="RemovePinFromBoard" method="post">
                                <input type="hidden" name="BoardId" value="@Model.Id" />
                                <input type="hidden" name="PinId" value="@pin.Id" />
                                <button type="submit" class="btn btn-danger btn-sm my-2">Remove</button>
                            </form>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>
                    No pins added yet!
                </p>
            }
        }
        else
        {
            <p>
                No board found!
            </p>
        }
    </div>
</div>


