@model MiniPinterest.Web.Models.Domain.Pin

@{
    if (Model != null) ViewData["Title"] = Model.Title;
}

<div class="pin-details-container py-3">
    @if (Model != null)
    {
        <div class="pin-details-box py-3">
            <img src="@Model.ImageUrl" />
        </div>

        <p class="pin-details-title">
            @Model.Title
        </p>

        <p class="pin-details-description" style="">
            @Model.Description
        </p>

        <form method="get">
            <div class="plus-button-container mb-3">
                <a href='@Url.Action("AddPinToBoard", "BoardDetails", new { urlHandle = @Model.Id })'>
                    <input type='button' class="plus-button" value='+' />
                </a>
            </div>
        </form>
    }
    else
    {
        <p>Pin not found!</p>
    }
</div>