@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@model MiniPinterest.Web.Models.ViewModels.PinDetailsViewModel

@{
    if (Model != null) ViewData["Title"] = Model.Title;
}

<div class="pin-details-container py-3">
    @if (Model != null)
    {
        <div class="pin-details-box py-3">
            <img src="@Model.ImageUrl" />
        </div>

        <p class="pin-details-title">
            @Model.Title
        </p>

        <p class="pin-details-description" style="">
            @Model.Description
        </p>

         
        @if (signInManager.IsSignedIn(User))
        {
            <a id="likeBtn" style="cursor: pointer">
                <i class="btn">🖤</i>
            </a>
            @Model.TotalLikes
        }

        <form method="get">
            <div class="plus-button-container mb-3">
                <a href='@Url.Action("AddPinToBoard", "BoardDetails", new { urlHandle = @Model.Id })'>
                    <input type='button' class="plus-button" value='+' />
                </a>
            </div>
        </form>

        <div class="card">
                    <div class="card-header">
                        <h5>Comments</h5>

                        @if (signInManager.IsSignedIn(User))
                        {
                            <form method="post">
                                <div class="mb-3">
                                    <input type="text" class="form-control" asp-for="NewComment" />
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-dark">Submit</button>
                                    <input type="hidden" value=@Model.Id asp-for="Id" />
                                </div>
                            </form>
                        }
                    </div>
                    <div class="card-body">
                        @if (Model.Comments != null && Model.Comments.Any())
                        {
                            @foreach (var comment in Model.Comments)
                            {
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div>
                                            @comment.Content
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            
                                            <span class="text-secondary">@comment.CreatedAt.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
    }
    else
    {
        <p>Pin not found!</p>
    }
</div>


<script>
    const btnLikeElement = document.getElementById('likeBtn');

    function addLike()
    {
        fetch('/api/PinLike/Add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': '*/*'
            },
            body: JSON.stringify({
                pinId: '@Model.Id',
                userId: '@userManager.GetUserId(User)'
            })
        }).then(() => btnLikeElement.removeEventListener('click', addLike));
    }

    btnLikeElement.addEventListener('click', addLike);
</script>