@model List<MiniPinterest.Web.Models.Domain.Pin>
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>My Pins</h1>
    </div>
</div>


<div class="row row-cols-5 row-with-margin">
    @if (Model != null && Model.Any())
    {
        @foreach (var pin in Model)
        {
            <div class="col">
                <a href="@Url.Action("Details", "Pin", new { id = pin.Id })">
                    <img src="@pin.ImageUrl" alt="@pin.Title" class="img-fluid rounded-corners" />
                </a>
                <div class="text-center">
                    @pin.Title
                    <a asp-area=""
                   asp-controller="Pins"
                   asp-action="Edit"
                   asp-route-id="@pin.Id"
                    >Edit</a>
                </div>
            </div>
        }
    }
    else
    {
        <p>
            No pins created yet!
        </p>
    }
</div>

<style>
    .rounded-corners {
        border-radius: 15px;
    }

    .row-with-margin {
        margin: 30px;
    }
</style>


