@model List<MiniPinterest.Web.Models.Domain.Pin>

@{
    ViewData["Title"] = "My Pins";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>My Pins</h1>
    </div>
</div>

<div class="container py-5">
    <div class="row row-cols-5 m-1">
        @if (Model != null && Model.Any())
        {
            @foreach (var pin in Model)
            {
                <div class="col">
                    <a 
                        asp-area=""
                        asp-controller="PinDetails"
                        asp-action="Index"
                        asp-route-urlHandle="@pin.Id"
                    >
                        <img src="@pin.ImageUrl" alt="@pin.Title" class="img-fluid rounded-corners" />
                    </a>
                    <div class="text-center">
                        @pin.Title
                        <a asp-area=""
                       asp-controller="Pins"
                       asp-action="Edit"
                       asp-route-id="@pin.Id"
                        >Edit</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>
                No pins created yet!
            </p>
        }
    </div>
</div>
